@model DebtTitleDto
@using Taavoni.DTOs.DebtTitle




<div class="card mb-4">
    <div class="card-header">
        <h2>حذف عنوان بدهی</h2>
    </div>
    <div class="card-body">
        <p>آیا از حذف عنوان بدهی زیر مطمئن هستید</p>
        <div>
            <h4>@Model.Title</h4>
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">حذف</span>
                </button>
                <a asp-action="Index" class="btn btn-light btn-icon-split">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">برگشت</span>
                </a>
            </form>
        </div>
    </div>
</div>