@using Taavoni.DTOs.DebtTitle
@model IEnumerable<DebtTitleDto>
@using DNTPersianUtils.Core



<!-- Page Heading -->
@{
  int number = 0;
}
<h1 class="h3 mb-4 text-gray-800">عناوین بدهی</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">عناوین بدهی</h6>
  </div>
  <div class="card-body">


    <div class="row p-2">
      <a asp-area="Admin" asp-controller="Debttitle" asp-action="Create" class="btn btn-primary btn-icon-split"
        style="margin: 5;">
        <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">جدید</span>
        </a>

    </div>


    <div class="table-responsive">
      <table class="table display nowrap" id="debttitleTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>عملیات</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var item in Model)
          {
            number+=1;
            <tr>
              <th>@number.ToPersianNumbers()</th>
              <th>@item.Title</th>
              <th>
                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </th>

            </tr>

          }

        </tbody>
      </table>
    </div>
  </div>


  @section Scripts {
    <script>
      $(document).ready(function () {
        newTable('#debttitleTable',[0]);
      });
    </script>


  }
