<!-- Views/Reports/DebtReport.cshtml -->
@model List<UserDebtReportDto>
@using Taavoni.DTOs.Reporting

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">گزارش بدهی کاربران</h1>
<!-- Donut Chart -->

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">


    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>نام کاربر</th>
            <th>بدهی کل</th>
            <th>بدهی باقی‌مانده</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>نام کاربر</th>
            <th>بدهی کل</th>
            <th>بدهی باقی‌مانده</th>

          </tr>
        </tfoot>
        <tbody>
          @foreach (var debt in Model)
          {
            <tr>

              <td>@debt.UserName</td>
              <td>@debt.TotalDebt</td>
              <td>@debt.RemainingDebt</td>

            </tr>
          }

        </tbody>
      </table>
    </div>

    <div class="col-lg-6">
      <!-- نمودار دایره‌ای بدهی‌ها -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">گزارش بدهی‌ها</h6>
        </div>
        <div class="card-body">
          <canvas id="debtChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {







  <script>


    // دریافت داده‌های بدهی‌ها برای چارت
    async function loadDebtChartData() {


      const response = await fetch(`/Reports/api/UserDebts`);
      const data = await response.json();
      // نمایش داده‌ها در کنسول

      const labels = data.map(item => item.userName);

      const remainingDebts = data.map(item => item.remainingDebt);
      console.log("debts Data:", labels);
      const ctx = document.getElementById('debtChart').getContext('2d');
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            data: remainingDebts,
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#f4b619', '#e02d1b'],
            borderWidth: 1
          }]
        }
      });
    }

    // بارگذاری چارت‌ها
    $(document).ready(function () {
      loadDebtChartData();
    });




  </script>





  <!-- Page level plugins -->
  <script src="~/assets/vendor/chart.js/Chart.min.js"></script>

}
