@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


@* 
<div class="row" >
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>ساخت کاربر جدید</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="email@example.com" />
                <label asp-for="Input.Email">ایمیل</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true"
                    placeholder="" />
                <label asp-for="Input.Name">نام و نام خانوادگی</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="" />
                <label asp-for="Input.Password">رمز عبور</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="" />
                <label asp-for="Input.ConfirmPassword">تکرار رمز عبور</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">ثبت نام</button>
        </form>
    </div>

</div> *@









<div class="bg-gradient">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">

<div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row justify-content-md-center">
        @* <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> *@
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">ایجاد حساب کاربری</h1>
                </div>

                <section>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                        
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control form-control-user" asp-for="Input.Email"
                                     autocomplete="username" aria-required="true"
                                    placeholder="ایمیل" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-user" asp-for="Input.Name"
                                     autocomplete="username" aria-required="true"
                                    placeholder="نام و نام خانوادگی" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" asp-for="Input.Password"
                                        autocomplete="new-password" aria-required="true"
                                        placeholder="رمز عبور" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" asp-for="Input.ConfirmPassword"
                                       autocomplete="new-password" aria-required="true"
                                        placeholder="تکرار رمز عبور" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div>
                                <button id="registerSubmit" type="submit"
                                    class="btn btn-primary btn-user btn-block">ثبت نام</button>
                            </div>
                            <hr>
                            <a href="#" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> ثبت نام با گوگل
                            </a>

                            <div>
                                <br>
                                <div class="text-center">
                                    <a id="forgot-password" asp-page="./ForgotPassword" class="small">فراموشی رمز
                                        عبور</a>
                                </div>

                            </div>
                    </form>

                    <div class="text-center">
                        <a asp-area="Identity" asp-page="/Account/Login" class="small"> ورود به حساب کاربری</a>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>










@section Scripts {
    <style>
        .navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow {
  display: none;
}
    </style>
    <partial name="_ValidationScriptsPartial" />
}
